.app-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #302d2d 0%, rgba(20, 18, 18, 0.8) 100%);
}